<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cogent.doconnect.mobileapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctoricon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.PATIENTPROFILEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.REGISTRATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <activity android:name=".AppointmentsActivity">
        <intent-filter>
            <action android:name="android.intent.action.APPOINTMENTSACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".BookAppointmentActivity">
        <intent-filter>
            <action android:name="android.intent.action.BOOKAPPOINTMENTACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".DoctorProfileActivity">
        <intent-filter>
            <action android:name="android.intent.action.DOCTORPROFILEACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".RegistrationProfileActivity">
        <intent-filter>
            <action android:name="android.intent.action.REGISTRATIONACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".ViewMedicalHistoryActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEWMEDICALHISTORYACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".ViewMedicalHistoryItemActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEWMEDICALHISTORYITEMACTIVITY" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>